.loading-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.jobot-loading-img {
  height: 300px;
}

.loading-messsage p {
  font-family: Montserrat;
  font-size: 18px;
  color: #61E1E0;
  margin-top: 20px;
  position: static;
}




// .loading-message .jobot-loading  {
//   width: 50px;
//   height: 50;
//   text-align: center;
//   transform-origin: bottom center;
//   animation: 3s rotate infinite;
//   opacity: 0;
// }

// .loading-container  span {
//   display: block;
//   width: 100%;
//   text-align: center;
//   position: absolute;
//   bottom: 0;
// }

// @keyframes rotate{
//   0% {
//     transform: rotate(90deg);
//   }
//   10% {
//     opacity: 0;
//   }
//   35% {
//     transform: rotate(0deg);
//     opacity: 1;
//   }
//   65% {
//     transform: rotate(0deg);
//     opacity: 1;
//   }
//   80% {
//     opacity: 0;
//   }
//   100% {
//     transform: rotate(-90deg);
//   }
// }
