$spacing: 1rem;
$themeColor: #63B8FF;
$backColor: #ddd;
$textShadow: rgba(black, 0.35) 1px 1px 1px;

.show-container {
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #A7ACAC;
  justify-content: space-between;
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.back-btn a {
  text-decoration: none;
  color: #61E1E0;
  padding: -1px 36px;
  font-size: 36px;
  margin-bottom: 65px;
  position: absolute;
  top: 80px;
  right: 96.4%;
}

.display-job {
  height:70%;
  width: 70%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 8px;
  margin-top: -61px;
}

.job-header {
  border-bottom: 1px solid #EEEEEE;
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 20%;
  h2 {
    color: #61E1E0;
    font-size: 24px;
  }
  h3 {
      color: #A7ACAC;
      font-size: 18px;
  }
  h5 {
    color: #A7ACAC;
    font-size: 16px;
  }
}

.job-logo {
  height: 60%;
  margin: 20px;
}

.job-title {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 530px;
      margin-left: 50px;
}

.progress--circle {
  position: relative;
  display: inline-block;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: #89E93E;
  /* margin-left: 210px; */
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
  }
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #89E93E;
  }
}

.progress__number {
  position: absolute;
  // top: 50%;
  width: 100%;
  // margin-top: -0.75rem;
  text-align: center;
  font-size: 24px;
  color: #89E93E;
}

.job-details {
  background-color: white;
  height: 75%;
  display: flex;
  justify-content: flex-end;
}

.job-match strong {
  color: #61E1E0;
}

.job-description {
  background: white;
  flex-grow: 1;
  padding: 24px;
  overflow: scroll;
}

.description-match-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 16px;
    h6 {
      color: #A7ACAC;
    }
    p {
      color: #A7ACAC;
      background-color: #F1FFE5;
      border: 1px solid #EEEEEE;
      padding: 8px;
      border-radius: 8px;
      width: 214px;
    }
    .field {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
}

.job-actions {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #EEEEEE;
}

.save-job {
  background-color: white;
  height: 50%;
  padding: 16px;
  display: flex;
  width: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #A7ACAC;
  font-size: 24px;
}

.fa-heart:before {
  content: "\f004";
  font-size: 30px;
  color: #61E1E0;
}

.apply-job{
  background-color: white;
  height: 50%;
  padding: 16px;
  width: 150px;
  // border-top: 1px solid #EEEEEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #A7ACAC;
  font-size: 24px;
}

.fa-angellist:before {
  content: "\f209";
  color: black;
}

.apply-link {
  font-size: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}




// *************** NEW PAGE STYLING *********************

.show-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-holder {
  width: 80vw;

  // min-height: 70vh;
  box-shadow: 0px 0px 30px rgba(230,230,230,1);
  margin-bottom: 15vh;
  padding-bottom: 20px;
  // min-height: 70vh;
}

.show-header {
  height: 25%;
  border-bottom: 1px solid rgba(200,200,200,1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-header-text {
  width: 85%;
  height: 100%;
  align-items: center;
}

.show-job-title-holder {
    display: flex;
  padding-left: 30px;
}

.show-job-title {
  color: #61E1E0;
  font-size: 24px;
}


.show-job-details {
  color: #8E9E9E;
  font-size: 18px;
  font-weight: lighter;
}

.show-header-score {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75%;
}

.show-content-details {
  width: 80%;
}

.show-links {
  width: 15%;
  border-left: 1px solid rgba(200,200,200,1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.align-text-center {
  text-align: center;
  padding: 20% 0
}

.show-content-details {
  padding: 20px;
}

.show-content-tag {
  padding: 0 30px;
  min-width: 200px
}

.light-grey {
  color: #8E9E9E;
  font-weight: lighter;
  font-size: 1.2rem;

}

.tag-green {
  background-color: #F1FFE5;
  color: #8E9E9E;
  padding: 5px 15px;
  border-radius: 10px;
}

.tag-grey {
  background-color: #F9F9F9;
  color: #8E9E9E;
  padding: 5px 15px;
  border-radius: 10px;
}

.show-content-details-row {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.show-job-match {
  padding: 0 30px;
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: lighter;

}

.highlight {
  color: #89E93E;
  font-weight: bolder
}

.turquoise-text {
  color: #61E1E0;
  margin-bottom: 32px;
}

.grid-links {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.grid-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-link-img {
  width: 30px;
}

.margin-bottom {
  margin-bottom: 15px;
}






