$spacing: 1rem;
$themeColor: #63B8FF;
$backColor: #ddd;
$textShadow: rgba(black, 0.35) 1px 1px 1px;

.show-container {
  height: 100vh;
  background-color: white;
  display: flex;
  align-item: center;
  justify-content: space-around;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #A7ACAC;
  justify-content: space-between;
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.display-job {
  height:80%;
  width: 80%;
  margin-top: 60px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  margin-left: 68px;
}

.job-header {
  border-bottom: 1px solid gray;
  background-color: white;
  padding: px;
  display: flex;
  height: 25%;
  h2 {
    color: #61E1E0;
  }
  h3 {
      color: #A7ACAC;
  }
}

.default-job {
  // height: 75px;
  height: 100%;
}

.job-title {
  display: flex;
  flex-direction: column;
}

// .progress--circle {
//   position: relative;
//   display: inline-block;
//   margin: $spacing;
//   width: 120px;
//   height: 120px;
//   border-radius: 50%;
//   background-color: $backColor;
//   &:before {
//     content: '';
//     position: absolute;
//     top: 15px;
//     left: 15px;
//     width: 90px;
//     height: 90px;
//     border-radius: 50%;
//     background-color: white;
//   }
//   &:after {
//     content: '';
//     display: inline-block;
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     background-color: $themeColor;
//   }
// }

// .progress__number {
//   position: absolute;
//   top: 50%;
//   width: 100%;
//   line-height: 1;
//   margin-top: -0.75rem;
//   text-align: center;
//   font-size: 1.5rem;
//   color: #777;
// }

.job-details {
  background-color: white;
  height: 75%;
  display: flex;
  justify-content: flex-end;
}

.job-description {
  background: white;
  flex-grow: 1;
  padding: 24px;
  overflow: scroll;
}

.job-actions {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-left: 1px solid gray;
}

.save-job {
  background-color: white;
  height: 50%;
  padding: 16px;
  width: 150px;
}

.apply-job{
  background-color: white;
  height: 50%;
  padding: 16px;
  width: 150px;
  border-top: 1px solid gray;
}

.apply-link {
  font-size: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
