.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.holder {
  width: 70%;
  height: 300px;
  position: relative;
}

.hello-robot {
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
}


.speech {
  position: relative;
  width: 80%;
  height: 116px;
  text-align: center;
  background-color: #e5e6e8;
  border: 4px #666;
  border-radius: 30px;
  padding-top: 18px;
  left: 140px;
  bottom: 20px;
    p {
      font-size: 16px;
      color: #A7ACAC;
    }
}

.speech:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 100px;
  border: 25px solid;
  border-color: #e5e6e8 transparent transparent #e5e6e8;
}

.speech:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  top: 100px;
  border: 4px ;
  border-color: #fff transparent transparent #fff;
}

.chat-bot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.bot-div {
  input {
    border: none;
  }
}

.jobot-speech {
  padding: 50px;
  width: 600px;
  height: 200px;
  position: relative;
  background: rgba(0,0,0,0.1);
  border-radius: 15px;
  h5 {
    font-size: 30px;
    color: rgba(0,0,0,0.2);
    text-align: center;
    font-family: Open Sans;
    font-weight: 300;
  }
}

.jobot-speech:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: rgba(0,0,0,0.1);
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}

.jobot-speech-user {
  padding: 50px;
  width: 600px;
  height: 200px;
  position: relative;
  background: rgba(97, 225, 224, 0.3);
  border-radius: 15px;
  margin: 60px 0;
  text-align: center;
  input {
    width: 500px;
    height: 36px;
    font-size: 30px;
    font-weight: 300;
    color: rgba(0,0,0,0.2);
    background: transparent;
    outline: none;
  }
  ::placeholder {
    color: rgba(0,0,0,0.2);
    text-align: center;
    background: transparent;
  }
}

.jobot-speech-user:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 95%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: rgba(97, 225, 224, 0.3);
  border-bottom: 0;
  border-right: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.jobot-robot-chat {
  position: absolute;
  left:  -120px;
  top: 20%;

}


#new_guest_user {
  position: relative
}

.js-example-basic-multiple {
  background-color: transparent;
  width: 500px;
}
.select2 .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: transparent;
  font-family: "Montserrat";
  font-size: 30px;
  color: rgba(0,0,0,0.2);
  text-align: center;
}

.select2 .select2-container--default.select2-container--focus .select2-selection--multiple {
  background-color: transparent;
}

.radio-btn {
  width: 200px !important;
}

.radio-btn-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  align-items: center;
  .form-check {
    display: flex !important;
    width: 150px;
  }
  label {
    font-size: 30px;
    color: rgba(0,0,0,0.2);
  }
}
