<h1>Jobs#index</h>

<div class="card-job">
  <%  @html_doc.search(".job-result").each do |element| %>
    <div class="card-job-infos">
      <div>
        <p><%= element.text.strip %></p>
      </div>
  </div>
  <% end %>
</div>
