<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=eduge">
  <title>LANDING</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <nav class="navbar">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </nav>
    <div class="home">
      <h1>JoBot</h1>
      <p>Bringing you jobs from across the web</p>
      <img src="#" id="waving-jobot">
      <a href="#chat_path">Get Started</a>
    </div>
    <div class="about">
      <h1>How it Works</h1>
      <div class="about-card">
        <p>Tell JoBot about yourself</p>
        <img src="#" id="running-jobot">
      </div>
      <div class="about-card">
        <p>JoBot searches the web to find the best jobs for you</p>
        <img src="#" id="bouncy-jobot">
      </div>
      <div class="about-card">
        <p>Apply to jobs immediately, or save and apply later!</p>
      </div>
    </div>

  </div>

</body>
</html>
