<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=eduge">
  <title>LANDING</title>
  <link rel="stylesheet" href="style.scss">
</head>

<body>
  <div class="container">
    <div class="home">
      <img  class="wave" alt="" src="https://media.giphy.com/media/f955el55GbRTMJGko4/giphy.gif">
        <div class="home-text">
          <h1>JoBot</h1>
          <p>Bringing you jobs from across the web</p>
          <a href="#chat_path">Get Started</a>
        </div>
    </div>
    <div class="about-section">
        <div>
          <h1>How it Works</h1>
        </div>
      <div class="about-section-cards">
        <div class="about-card">
          <p>Tell JoBot about yourself</p>
          <img src="#" id="waving-jobot">
        </div>
        <div class="about-card">
          <p>JoBot searches the web to find the best jobs for you</p>
          <img src="#" id="running-jobot">
        </div>
        <div class="about-card">
          <p>Apply to jobs immediately, or save and apply later!</p>
          <img src="#" id="bouncy-jobot">
        </div>
      </div>
    </div>

  </div>


</body>
</html>