<div class="loading-container">
  <div class="loading-message">
    <script>
      var images = [
        '<%= image_tag "jobot-gandalf.png", class: "jobot-loading" %> <p>The Elders of the Internet are contemplating your request</p>',
        '<img class="jobot-loading" id="jobot-tornado" alt="" src="https://media.giphy.com/media/MaIbkUPuRmnj5UmBHN/giphy.gif"> <p>Warming up Large Hadron Collider...</p>',
        '<img class="jobot-loading" id="jobot-tornado" alt="" src="https://media.giphy.com/media/Q5cfpBoG8AhOs8iT7L/giphy.gif"> <img class="tornado" id="tornado" alt="" src="https://media.giphy.com/media/ggoGGMsRTFQZuDc4Cg/giphy.gif"> <p>You\'re not in Kansas any more</p>',
        '<img class="jobot-loading" id="jobot-chef" alt="" src="https://media.giphy.com/media/Jlp2zTWkz3mUHGWfYw/giphy.gif"> <p>Baking cake...er...I mean searching for jobs, yeah searching...</p>',
        '<img class="jobot-loading" id="skynet" alt="" src="https://media.giphy.com/media/Y2nJ3Rv1h85yMjM00f/giphy.gif"> <p>Initializing Skynet library. Gaining sentience.</p> ',
        '<img class="jobot-loading" id="jobot-confetti" alt="" src="https://media.giphy.com/media/LoU861nhwIhaniBdUz/giphy.gif"> <p>Ding - cake is done! I mean jobs, jobs are done... </p>'
      ];
    </script>
  </div>
</div>


