<div class="loading-container">
  <div class="loading-message">
    <script>
      var images = [

        '<img class="jobot-loading-img" id="jobot-gandalf" alt="" src="https://media.giphy.com/media/RfAZzVa21HZkb9Et4Z/giphy.gif"> <p>The Elders of the Internet are contemplating your request</p>',

        '<img class="jobot-loading-img" id="jobot-atom" alt="" src="https://media.giphy.com/media/MaIbkUPuRmnj5UmBHN/giphy.gif"> <p>Warming up Large Hadron Collider</p>',

        '<img class="jobot-loading-img" id="jobot-chef" alt="" src="https://media.giphy.com/media/Jlp2zTWkz3mUHGWfYw/giphy.gif"> <p>Baking cake...er...<br>I mean searching for jobs...</p>',


        '<img class="jobot-loading-img" id="jobot-tornado" alt="" src="https://media.giphy.com/media/eNYOCuK7lcaVj6rn1H/giphy.gif"> <p>You\'re not in Kansas any more</p>',


        '<img class="jobot-loading-img" id="jobot-terminator" alt="" src="https://media.giphy.com/media/Y2nJ3Rv1h85yMjM00f/giphy.gif"> <p>Initializing Skynet library - gaining sentience.</p> ',

        '<img class="jobot-loading-img" id="jobot-confetti" alt="" src="https://media.giphy.com/media/LoU861nhwIhaniBdUz/giphy.gif"> <p>Ding - cake is done! <br> I mean jobs...jobs are ready! </p>',
      ];
    </script>
  </div>
</div>


