<div class="welcome">
  <div class="holder">
    <div class="hello">
      <h5>
       Let's find you some jobs! <br><br> I can't read minds [ yet ], so before we start I'll need to ask a few questions...
      </h5>
    </div>
    <%= image_tag 'speech.png', class: 'triangle' %>
    <img class="hello-robot" src="https://media.giphy.com/media/f955el55GbRTMJGko4/giphy.gif" alt="jobot">
  </div>
  <%= link_to "Let's Go!", new_guest_user_path %>
</div>



