

<div class="welcome-container">
  <div class="holder">
    <div class="hello-robot">
      <%= image_tag 'speech.png', class: 'triangle' %>
      <img class="hello-robot" src="https://media.giphy.com/media/f955el55GbRTMJGko4/giphy.gif" alt="jobot">
    </div>
    <div class="speech">
      <p>Let's find you some jobs!</p>
      <p>I can't read minds [ yet ], so before we start I'll need to ask a few questions...</p>
    </div>

  </div>
  <%# link_to "Let's Go!", new_guest_user_path %>
</div>

<script>
 setTimeout(delay, 3000)
 function delay() {
    window.location = "http://localhost:3000/guest_users/new"
 }
</script>




