
.cards {
  height: 175px;
  width: 44%;
  background: white;
  box-shadow: 3px 1px 7px rgba(134, 156, 163, 0.25);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 24px;
}

// .overlay {
//   text-align: center;
//   transition: .3s all;
//   border-radius: 3px;
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   color: #fff;
//   opacity: 0;

//   h2 {
//     color: #61E1E0;
//     background-color: white;
//     border-radius: 71px;
//     padding: 16px;
//   }
// }

//   :hover {
//     .overlay {
//       opacity: 1;
//     }

//     .cards {
//       -webkit-filter: blur(2px);
//       filter: blur(2px);
//     }
// }

// @media screen and (max-width: 1148px) {
//   .cards {
//     max-width: 48%;
//     margin: 1%;
//   }
// }

// @media screen and (max-width: 768px) {
//   .cards {
//     float: none;
//     max-width: 80%;
//     margin: 1% auto;
//   }
// }




.default_job {
  height: 85%;
  width: 120px;
  object-fit: cover;
}


.card-info {
  margin-left: 20px;
}

.card-info h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #61E1E0;
}


.card-info h5 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: #A7ACAC;
}


.card-info p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: #A7ACAC;
}


// .job-card .card-info {
//   padding: 16px;
// }

