.navbar-lewagon {
  justify-content: space-between;
  background: white;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.dropdown-item {
  font-family: Montserrat;
  color: #61E1E0;
}

.navbar {
 position: sticky;
 top: 0;
}


.name-letter {
text-decoration: none;
font-family: Montserrat;
color: #DAD8D8;
font-size: 24px;
&:hover {
  text-decoration: none;
  color: #DAD8D8;

}
}

.dropdown-toggle::after {
  display: none;
}
