.input {
  display: inline-block;
  padding: 16px;
  border-radius: 4px;
  line-height: 2;
}

.rounded {
  border-radius: 8px;
  border: 1px solid #61E1E0;
  color: gray;
  padding: 8px;
}

#user-job-title {
  border: 1px solid #61E1E0;
  border-radius: 8px;
}

.form-check {
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
}

.form-group {
  padding: 16px;
  margin-bottom: -15px;

}

label {
  margin-right: 8px;
}

#yearsExperience {
  width: 40px;
  text-align: center;
  padding: 0px;
  border: 1px solid #61E1E0;
  border-radius: 8px;
}

.form-box {
  width: 169px;
}

#user-location {

}
.years_experience {
  display: none;
}
